{% extends  'Main.html' %}
{% block content %}
<style>
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
}
</style>


<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>We <3 people who code</h3>
        <p>Developed at the time of Lockdown due to COVID-19.</p>
        <p>We build products that enable more productivity and growth of organization</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>About</h3>
        <p>This application searches all the famous web applications like IBM Xfactor, IPvoid, abuseipdb, sans,myIPwhois and many more.</p>
        <p> IT HAS THE ABILITY TO PROCESS 500 IP's IN 3 MINUTES </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>How it works</h3>
        <p>This application uses AI where the processing will be faster day by day, and we use API to fetch results from famous web apps, study them and returns you with more accurate result.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}