{% extends  'Main.html' %}
{% block content %}
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="{% static 'css/developer.css' %}">
<aside class="profile-card">
  <header>
    <!-- here’s the avatar -->
    <a target="_blank" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkphs2bbjRiG9HmMFewbn7u7OlZLAaUCO6mNfinBFSRUdFiM4%3Ahttps%3A%2F%2Fpbs.twimg.com%2Fmedia%2FDqRet4EUcAAF6AF.jpg&usqp=CAU" class="hoverZoomLink">
    </a>

    <!-- the username -->
    <h1>
            Chandu Sanjith .T
          </h1>

    <!-- and role or location -->
    <h2>
            Cobol and Python Developer at TCS-SBI Enterprise
          </h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>
      Motorcycle enthusiast and love to build products that enable more productivity and growth of organization.
    </p>
  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">
    <li>
      <a target="_blank" href="https://www.facebook.com/chandusanjith">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/chandusanjith">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/chandusanjith">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.behance.net/chandusanjith">
       
        <i class="fa fa-behance"></i>
      </a>
    </li>
  </ul>
</aside>
</body<
</html>
{% endblock content %}